<h1>Bem vindo a handlebarss, nome é {{user.name}} {{user.surname}}</h1>
 
 {{#if auth}}
 <p>Voçê está autenticado, <a href="/dashboard">clique aqui </a> para ir em dashboard</p>
 
 {{/if}}
<p>Teste2</p>