<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Bem vindo</title>
</head>
<body>

  <main class="container">
    <h1>Bem-vindo ao Portal</h1>

    <p>
      Aqui você pode preencher informações importantes de forma rápida e segura.
      Clique no botão abaixo para continuar.
    </p>

    <a href="/users/form" class="btn">Acessar Formulário</a>
  </main>

</body>
</html>