<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mystyle.css">
    <title>Bem vindo</title>
</head>
<body>
    <nav>Aqui é a nav</nav>
    {{{body}}}
    <footer>Aqui é o footer</footer>
</body>
</html>