* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  background: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
  margin-bottom: 15px;
  color: #333;
}

p {
  margin-bottom: 25px;
  color: #555;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: red;
}
