<div class="container">
    <div class="book-card">
      <h2 class="book-title">{{book.title}}</h2>

      <p class="book-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut maiores
        distinctio, dicta sit nulla hic unde vero quae! Corporis non tenetur
        fugiat vitae officiis voluptates porro, illum reiciendis consequatur
        voluptatibus? Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Illum amet sint, laudantium animi fugit voluptatem aliquid, doloribus
        autem, voluptatum iste doloremque eos? Accusantium ex officiis doloribus
        odit alias minus itaque.
      </p>

      <ul class="book-info">
        <li><strong>Autor: Lorem ipsum dolor</strong> </li>
        <li><strong>Gênero: Lorem ipsum dolor</strong> </li>
        <li><strong>Páginas: {{book.pageqty}}</strong> </li>
        <li><strong>Editora: Lorem ipsum dolor</strong> </li>
        <li><strong>Ano:</strong> 2026</li>
        <li><strong>ISBN:</strong> Lorem ipsum dolor </li>
      </ul>
 <a href="/books/edit/{{book.id}}" class="btn-ver-livro">Editar</a></div>
    </div>
</div>