*{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

.form{
    width: 450px;
    margin: 0 auto;
}

.form-control{
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
}

.form-control label{
   font-weight: bold;
   margin-bottom: .3em;
}

.form-control input{
   padding: 5px;
}

.message{
    text-align: center;
    padding: 2em;
    color: green;
    font-weight: bold;
    font-size: 1.3em;
}



/* books */

.container-books{
    width: 450px;
    margin: 0 auto;
}

.container-books div {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

.bold{
    font-weight: bold;
}

.btn-voltar {
  position: fixed;      /* fixa no viewport */
  top: 20px;            /* distancia do topo */
  right: 20%;          /* distancia da direita */
  background: #4CAF50;  /* cor bonitinha */
  color: white;
  padding: 10px 18px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.btn-voltar {
  background: #388E3C;
  transform: translateY(-2px);
}

